* {
	font-family: Avenir;
} 

body {
	text-align: center;
}

h1 {
	text-align: center;
	margin: 5px;
}

span {
	font-size: 1.5em;
	font-weight: 100;
}

p {
	margin-bottom: 0;
}

button {
	height: 30px;
	width: 90px;
	font-size: 14px;
	border-radius: 0;
	margin: 20px;
	border: 3px solid silver;
}

button:hover {
	cursor: pointer;
}

#create.active {
	border: 3px solid steelblue;
}

#edit.active {
	border: 3px solid limegreen;
}

#delete.active {
	border: 3px solid salmon;
}

svg {
	display: block;
	margin: auto;
	background-color: WhiteSmoke;
}

svg:hover {
	cursor: crosshair;
}
