* {
	font-family: Avenir;
} 

body {
	text-align: center;
}

h2 {
	text-align: center;
	margin: 10px;
}

span {
	font-size: 1.2em;
	font-weight: 100;
}

p {
	margin: 10px;
}

button {
	height: 30px;
	width: 90px;
	font-size: 14px;
	border-radius: 0;
	margin: 20px;
	border: 3px solid silver;
}

button:hover {
	cursor: pointer;
}

#create.active {
	border: 3px solid steelblue;
}

#edit.active {
	border: 3px solid limegreen;
}

#delete.active {
	border: 3px solid salmon;
}

svg {
	display: block;
	margin: auto;
	background-color: LightGray;
}

svg:hover {
	cursor: crosshair;
}

div.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(10, 10, 10, 0.85);
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

#modal-message {
	background-color: white;
	width: 50vw;
	height: 350px;
	padding: 25px;
}

#close-modal {
	position: fixed;
	color: white;
	font-size: 2em;
	top: 10px;
	right: 20px;
}

footer div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

footer div p {
	display: block;
	font-size: 10px;
}
